.profileTopHeader{
  margin-top: 56px;
  width: 100%;
  height: 260px;
  background: #F2F4F6;
}

.profileTopWrapper{
  transition: 0.25s;
  width: 1072px;
  height: 100%;
  margin: 0 auto;
}

.userBasicInfo{
  display: inline-flex;
  align-items: center;
  position: relative;
  top: 72px;
  transition: 0.25s;
}

.userBasicInfoWrapper{
  margin-left: 16px;
  transition: 0.25s;
}

.nickname{
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  color: #1A1E27;
  margin-bottom: 5px;
}

.userBasicInfoBottom{
  display: inline-flex;
  align-items: center;
  div{
    display: inline-flex;
  }
}

.division{
  width: 1px;
  height: 16px;
  background: url(../../images/division.svg);
  margin: 0 4px;
}

.locationIcon{
  width: 18px;
  height: 18px;
  background: url(../../images/profile_location.svg);
  margin-right: 2px;
}

.userBasicInfoBottomText{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #353C49;
}

.buttonWrapper{
  transition: 0.25s;
  display: inline-flex;
  align-items: center;
  position: relative;
  float: right;
  top: 89px;
  > div{
    width: 171px;
    height: 48px;
    display: inline-flex;
    align-items: center;
    border-radius: 24px;
  }
}

.messageButton{
  background: #FFFFFF;
  border: 1px solid #E3E7EB;
  margin-right: 12px;
  color: #1E68FA;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  cursor: pointer;
  transition: 0.15s;
  >div{
    width: 24px;
    height: 24px;
    margin: 0 4px 0 36px;
    background: url(../../images/profile_message.svg);
  }
  &:hover{
    background: #F2F4F6;
    transition: 0.15s;
  }
}

.followButton{
  background: #1E68FA;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  cursor: pointer;
  transition: 0.15s;
  >div{
    width: 24px;
    height: 24px;
    margin: 0 4px 0 46px;
    background: url(../../images/profile_follow.svg);
  }
  &:hover{
    background: #0034DA;
    transition: 0.15s;
  }
}

.followingButton{
  background: #FFFFFF;
  border: 1px solid #E3E7EB;
  color: #1E68FA;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  >div{
    width: 24px;
    height: 24px;
    margin: 0 4px 0 46px;
    background: url(../../images/profile_following.svg);
  }
}

.linkWrapper{
  position: relative;
  top: calc(50% + 15px);
  transform: translateY(-50%);
}

.pageLink{
  height: 50px;
  display: inline-block;
  margin-top: 16px;
  overflow: hidden;
  position: relative;
  >span{
    padding: 8px 28px 8px;
    height: 37px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #6D7582;
    transition: color 0.75s;
  }
  >div{
    background: #1E68FA;
    height: 3px;
    width: 0px;
    position: absolute;
    top: 46px;
    transition: width 0.75s;
  }
  &:hover{
    >span{
      color: #1A1E27;
      transition: color 0.75s;
    }
    > div {
      width: 200px;
      transition: width 0.75s;
    }
  }
}

.pageLinkSelect{
  height: 50px;
  display: inline-block;
  margin-top: 16px;
  overflow: hidden;
  position: relative;
  >span{
    padding: 8px 28px 8px;
    height: 37px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: #1A1E27;
  }
  >div{
    background: #1E68FA;
    height: 3px;
    width: 200px;
    position: absolute;
    top: 46px;
  }
}

//반응형
@media (min-width:1024px) and (max-width: 1151px) {
  .profileTopWrapper{
    transition: 0.25s;
    width: 945px;
  }

  .profileJobWrapper{
    flex-wrap: wrap;
  }
}

@media (min-width:768px) and (max-width: 1024px){
  .profileTopHeader{
    height: 394px;
  }
  .profileTopWrapper{
    width: 100%;
    transition: 0.25s;
  }
  .userBasicInfo{
    display: block;
    text-align: center;
    top: 20px;
    > div:first-child{
      width: 60px !important;
      height: 60px !important;
    }
    transition: 0.25s;
  }
  .userBasicInfoWrapper{
    margin: 6px 0 0;
    transition: 0.25s;
  }
  .buttonWrapper{
    float: none;
    top: 55.5px;
    transition: 0.25s;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    > div{
      width: 338px;
      height: 48px;
    }
  }
  .messageButton{
    >div{
      margin: 0 4px 0 119.5px;
    }
  }
  .followButton{
    >div{
      margin: 0 4px 0 129.5px;
    }
  }
  .followingButton{
    >div{
      margin: 0 4px 0 129.5px;
    }
  }
  .linkWrapper{
    width: calc(100%);
    height: 48px;
    top: calc(50% + -18px);
    > a{
      width: calc(100% / 3) !important;
      text-align: center;
      margin-top: 9px;
      >span{
        padding: 0;
      }
      >div{
        position: absolute;
        top: 36px;
        width: 0;
      }
      &:hover{
        >div{
          width: 100%;
          transition: 0.25s;
        }
      }
    }
  }
  .pageLinkSelect{
    >span{
    }
    >div{
      background: #1E68FA;
      height: 3px;
      width: 100% !important;
      position: absolute;
      top: 46px;
    }
  }
}

@media (max-width: 768px){
  .profileTopHeader{
    height: 354px;
  }
  .profileTopWrapper{
    width: 100%;
    transition: 0.25s;
  }
  .userBasicInfo{
    display: block;
    text-align: center;
    top: 20px;
    > div:first-child{
      width: 60px !important;
      height: 60px !important;
    }
    transition: 0.25s;
  }
  .userBasicInfoWrapper{
    margin: 6px 0 0;
    transition: 0.25s;
  }
  .buttonWrapper{
    float: none;
    top: 55.5px;
    transition: 0.25s;
    width: 100%;
    display: inline-block;
    padding: 0 16px;
    > div{
      width: calc((100% - 16px) / 2);
      margin: 0 4px;
      padding: 12px 0;
      height: 40px;
      box-sizing: border-box;
      display: inline-block;
      text-align: center;
      position: relative;
      > div {
        display: inline-block;
        vertical-align: top;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 0;
      }
      >span{
        vertical-align: top;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
      }
    }
  }
  .messageButton{
    >div{
      margin: 0 4px 0 0;
    }
  }
  .followButton{
    >div{
      margin: 0 4px 0 0;
    }
  }
  .followingButton{
    >div{
      margin: 0 4px 0 0;
    }
  }
  .linkWrapper{
    width: calc(100%);
    height: 48px;
    top: calc(50% + -31px);
    > a{
      width: calc(100% / 3) !important;
      text-align: center;
      margin-top: 9px;
      >span{
        padding: 0;
      }
      >div{
        position: absolute;
        top: 36px;
        width: 0;
      }
      &:hover{
        >div{
          width: 100%;
          transition: 0.25s;
        }
      }
    }
  }
  .pageLinkSelect{
    >span{
    }
    >div{
      background: #1E68FA;
      height: 3px;
      width: 100% !important;
      position: absolute;
      top: 46px;
    }
  }
}
