.bodyWrapper{
  width: 100%;
  height: 100%;
  min-width: 320px;
}

.mainImage{
  width: 100%;
  height: 360px;
  background: #D2D6DA;
  text-align: center;
  > div{
    width: 222px;
    height: 56px;
    display: inline-flex;
    margin: 244px auto 60px;
    border-radius: 28px;
    background: #0054FE;
    align-items: center;
    cursor: pointer;
    transition: 0.15s;
    &:hover{
      background: #0034DA;
      transition: 0.15s;
    }
    >span{
      font-size: 20px;
      color: #FFFFFF;
      margin: 0 auto;
      font-weight: 600;
    }
  }
}

.leftWrapper{
  width: 260px;
  height: 732px;
  display: inline-flex;
  float: left;
  vertical-align: top;
  margin: 142px 46px 0 90px;
  >ul{
    list-style:none;
    width: 100%;
    padding-left:0px;
    margin: 0;
    >li{
      width: 100%;
      height: 46px;
      background: #FFFFFF;
      border-radius: 4px;
      display: inline-flex;
      align-items: center;
      margin: 4px auto;
      cursor: pointer;
      &:hover{
        >span{
          color: black;
          transition: 0.15s;
        }
      }
      >span{
        color: #6D7582;
        font-weight: 500;
        font-size: 18px;
        margin-left: 16px;
        transition: 0.15s;
      }
    }
    >li:first-child{
      margin-top: 0;
      background: #E7ECFF;
      >span{
        color: black;
      }
    }
    >li:last-child{
      margin-bottom: 0;
    }
  }
}

.rightWrapper{
  width: calc(100% - 486px);
  height: 100%;
  display: inline-flex;
  float: right;
  vertical-align: top;
  margin: 64px 90px 0 0;
  overflow: hidden;
  background: #1E68FA;
}
