.profileContentWrapper{
  margin-bottom: 28px;
}

.titleWrapper{
  width: 100%;
  display: inline-flex;
}

.title{
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #1A1E27;
  margin-right: 6px;
  max-width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.position{
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #353C49;
  max-width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date{
  margin-top: 2px;
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6D7582;
  white-space: pre;
  vertical-align: top;
}

.informationUrl{
  margin-top: 2px;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  text-decoration-line: underline;
  text-underline-position: under;
  cursor: pointer;
  color: #6D7582;
  &:hover{
    text-decoration-line: underline;
    text-underline-position: under;
    color: #6D7582;
  }
}

.detailContents{
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #353C49;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
