.itemWrapper{
  width: 336px;
  height: 345px;
  display: inline-block;
  margin: 15px;
}

.thumbImage{
  width: 100%;
  height: 189px;
  border-radius: 4px;
  background: #353C49;
  background-size: cover;
}

.bottomWrapper{
  width: 100%;
  margin-top: 12px;
  background: none;
}

.rankingNum{
  width: 40px;
  height: 51px;
  color: #1E68FA;
  font-family: 'Pretendard';
  font-weight: 400;
  font-size: 64px;
  text-align: center;
  line-height: 80%;
  vertical-align: top;
  display: inline-block;
  margin-right: 8px;
}

.bottomRightWrapper{
  display: inline-block;
  width: calc(100% - 48px);
  vertical-align: top;
}

.bottomRightWrapperNonTop{
  display: inline-block;
  width: 100%;
  vertical-align: top;
}

.tag{
  height: 20px;
  border-radius: 4px;
  background: #E3E7EB;
  display: inline-flex;
  align-items: center;
  font-size: 13px;
  color: #353C49;
  padding: 2px 6px;
  margin: 0 2px;
}

.projectTitle{
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #1A1E27;
  padding: 4px 2px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.locationIcon{
  width: 16px;
  height: 16px;
  background: url(../../images/location.svg) center;
  display: inline-block;
  vertical-align: top;
  margin-left: 2px;
}

.locationName{
  display: inline-block;
  vertical-align: top;
  font-weight: 400;
  font-size: 13px;
  color: #353C49;
  margin-left: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lastWrapper{
  width: 100%;
  display: inline-flex;
  align-items: center;
}

.userIcon{
  width: 16px;
  height: 16px;
  background: url(../../images/default_profile.svg) center;
  display: inline-block;
  margin-left: 2px;
}

.userName{
  display: inline-block;
  vertical-align: top;
  font-weight: 400;
  font-size: 13px;
  color: #353C49;
  margin-left: 2px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.likeIcon{
  width: 16px;
  height: 16px;
  background: url(../../images/like.svg) center;
  display: inline-block;
  margin-left: 2px;
  float: right;
}
.likeCount{
  font-size: 12px;
  color: #6D7582;
  display: inline-block;
  float: right;
}

.viewIcon{
  width: 16px;
  height: 16px;
  background: url(../../images/view.svg) center;
  display: inline-block;
  margin-left: 2px;
  float: right;
}
.viewCount{
  font-size: 12px;
  color: #6D7582;
  display: inline-block;
  float: right;
}

//반응형
@media (max-width: 480px){
  .itemWrapper{
    margin: 12px 0 12px 0;
    width: calc(100vw - 40px);
    min-width: 280px;
    height: auto;
    min-height: calc(280px * 336 / 320);
  }
  .thumbImage{
    height: calc((100vw - 40px) * 180 / 320);
    min-height: calc(280px * 180 / 320);
  }
}

@media (min-width:480px) and (max-width: 768px){
  .itemWrapper{
    margin: 12px 0 12px 0;
    width: calc(100vw - 48px);
    height: auto;
  }
  .thumbImage{
    width: 100%;
    height: calc((100vw - 48px) * 243 / 432);
  }
}

@media (min-width:768px) and (max-width: 1024px){
  .itemWrapper{
    margin: 12px;
    width: 304px;
    height: 327px;
  }
  .thumbImage{
    height: 171px;
  }
}

@media (min-width:1024px) and (max-width: 1260px){
  .itemWrapper{
    margin: 12px;
    width: 304px;
    height: 327px;
  }
  .thumbImage{
    height: 171px;
  }
}

@media (min-width:1260px) and (max-width: 1600px){
  .itemWrapper{
    margin: 12px;
    width: 304px;
    height: 327px;
  }
  .thumbImage{
    height: 171px;
  }
}

@media (min-width:1600px) and (max-width: 1800px){
  .itemWrapper{
    margin: 12px;
    width: 304px;
    height: 327px;
  }
  .thumbImage{
    height: 171px;
  }
}
