.closeButton{
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(../../../images/modalClose.svg);
  position: absolute;
  top: 27px;
  right: 20px;
  cursor: pointer;
  transition: 0.25s;
  &:hover{
    background: url(../../../images/modalCloseActtive.svg);
    transition: 0.25s;
  }
}

.uploadProject{
  width: 96px;
  height: 96px;
  margin: 0 auto 32px;
  background: url(../../../images/uploadProject.svg);
}

.uploadText{
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #6D7582;
  margin-bottom: 16px;
}

.uploadButton{
  width: 92px;
  height: 36px;
  background: #1E68FA;
  border-radius: 18px;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #FFFFFF;
  margin: 0 auto;
  padding: 9px 0;
  cursor: pointer;
  transition: 0.25s;
  &:hover{
    background: #0034DA;
    transition: 0.25s;
  }
}

.editorWrapper{
  width: 100%;
  padding: 0 0 0 36px;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #353C49;
  height: 530px;
  overflow: hidden;
  .leftWrapper{
    display: inline-block;
    vertical-align: top;
    width: 346px;
    padding-bottom: 200px;
    margin: 24px 0 28px;
    padding-right: 28px;
    .thumbnailWrapper{
      position: relative;
      width: 320px;
      height: 180px;
      >div{
        position: absolute;
      }
      &:hover{
        .blackCover{
          opacity:100%;
          transition: 0.5s;
        }
      }
      .blackCover{
        width: 320px;
        height: 180px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
        opacity:0%;
        transition: 0.5s;
        border-radius: 4px;
      }
      .buttonGroup{
        width: 320px;
        height: 180px;
        padding: 0 72px;
        .buttonWrapper{
          display: inline-block;
          width: 68px;
          height: 69px;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          margin: 0 10px;
          text-align: center;
          >button{
            width: 48px;
            height: 48px;
            background: #F2F4F6;
            border-radius: 24px;
            border: none;
            cursor: pointer;
            margin-bottom: 4px;
            transition: 0.25s;
            &:hover{
              background: #E3E7EB;
              transition: 0.25s;
            }
          }
          >div{
            font-weight: 500;
            font-size: 13px;
            line-height: 130%;
            color: #D2D6DA;
          }
        }
        .editButton{
          width: 24px;
          height: 24px;
          background: url(../../../images/editProjectThumbnail.svg);
          background-size: 24px;
          margin: 0 auto;
        }
        .deleteButton{
          width: 24px;
          height: 24px;
          background: url(../../../images/delete_scrap.svg);
          background-size: 24px;
          margin: 0 auto;
        }
      }

    }
    .imageWrapper{
      width: 320px;
      height: 180px;
      border-radius: 4px;
      background: #8D94A0;
    }
  }
  .rightWrapper{
    display: inline-block;
    vertical-align: top;
    max-height: 482px;
    overflow: scroll;
    width: 580px;
    margin-top: 24px;
    margin-bottom: 24px;
    padding-left: 28px;
    padding-right: 36px;
    border-left: 1px solid #E3E7EB;
    input,textarea{
      width: 100%;
      background: #FAFAFB;
      border: 1px solid #E3E7EB;
      border-radius: 4px;
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      color: #1A1E27;
      padding: 9px 10px;
      outline: none;
      transition: 0.25s;
      &:focus{
        background: #FFFFFF;
        border: 1px solid #1E68FA;
        transition: 0.25s;
      }
    }
    input{
      height: 36px;
    }
    textarea{
      min-height: 36px;
      max-height: 300px;
      overflow: auto;
      resize: none !important;
    }
    .checkboxWrapper{
      width: 400px;
      margin-bottom: 32px;
      >label{
        width: calc(100% / 3);
        margin: 0 0 6px 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        color: #353C49;
      }
    }
    .addLocation{
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      color: #0054FE;
      cursor: pointer;
      margin-bottom: 32px;
      position: relative;
      >div{
        position: absolute;
        height: 1px;
        width: 0px;
        background-color: #0054FE;
        transition: 0.25s;
        bottom: -4px;
      }
      &:hover{
        >div{
          width: 129px;
          transition: 0.25s;
        }
      }
    }
    .hoverButton{
      width: 426px;
      height: 36px;
      border-radius: 4px;
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      color: #353C49;
      background: #FAFAFB;
      border: 1px solid #E3E7EB;
      text-align: left;
      padding: 7px 10px;
      position: relative;
      transition: 0.25s;
      margin-bottom: 44px;
      >div{
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 7px;
        background: url(../../../images/dropDownCopyright.svg);
        transition: 0.25s;
      }
      &:hover{
        background: #FFFFFF;
        border: 1px solid #1E68FA;
        transition: 0.25s;
        >div{
          background: url(../../../images/dropUpCopyright.svg);
          transition: 0.25s;
        }
      }
    }
    .tagWrapper{
      height: auto;
      min-height: 42px;
      width: calc(100%);
      margin-bottom: 32px;
      outline: none;
      background: #FAFAFB;
      border: 1px solid #E3E7EB;
      border-radius: 4px;
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      color: #1D1D1D;
      padding: 8px 10px 0;
      transition: 0.25s;
      &:focus{
        background: #FFFFFF;
        border: 1px solid #1E68FA;
        transition: 0.25s;
      }
    }
    .tag{
      background: #1A1E27;
      border-radius: 12px;
      display: inline-flex;
      align-items: center;
      padding: 4px 10px;
      margin-left: 2px;
      margin-right: 2px;
      margin-bottom: 8px;
      height: 24px;
      vertical-align: top;
      > div{
        font-weight: 500;
        font-size: 13px;
        line-height: 120%;
        color: #FFFFFF;
        display: inline-block;
        vertical-align: top;
      }
      .delete{
        width: 12px;
        height: 12px;
        background: url(../../../images/deletetag.svg);
        margin-left: 4px;
        cursor: pointer;
      }
    }
    .tag_input{
      display: inline-block;
      outline: none;
      border: none;
      vertical-align: top;
      padding-right: 20px;
      margin-top: 3px;
      margin-bottom: 8px;
      cursor: text;
      &:empty:before {
        content: attr(placeholder);
        color: grey;
        display: inline-block;
      };
    }
  }
}
.bottomWrapper{
  display: block;
  height: 61px;
  background: #FAFAFB;
  border-top: 1px solid #E3E7EB;

}
.selected{
  background: #F2F4F6 !important;
}
