.closeButton{
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url(../../../images/modalClose.svg);
  position: absolute;
  top: 27px;
  right: 20px;
  cursor: pointer;
  transition: 0.25s;
  &:hover{
    background: url(../../../images/modalCloseActtive.svg);
    transition: 0.25s;
  }
}

.uploadProject{
  width: 96px;
  height: 96px;
  margin: 0 auto 32px;
  background: url(../../../images/uploadProject.svg);
}

.uploadText{
  font-family: 'Pretendard';
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #6D7582;
  margin-bottom: 16px;
}

.uploadButton{
  width: 92px;
  height: 36px;
  background: #1E68FA;
  border-radius: 18px;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #FFFFFF;
  margin: 0 auto;
  padding: 9px 0;
  cursor: pointer;
  transition: 0.25s;
  &:hover{
    background: #0034DA;
    transition: 0.25s;
  }
}

.editorWrapper{
  width: 100%;
  padding: 0 0 0 36px;
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #353C49;
  height: 530px;
  overflow: hidden;
  input,textarea{
    width: 100%;
    background: #FAFAFB;
    border: 1px solid #E3E7EB;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #1A1E27;
    padding: 9px 10px;
    outline: none;
    transition: 0.25s;
    &:focus{
      background: #FFFFFF;
      border: 1px solid #1E68FA;
      transition: 0.25s;
    }
  }
  input{
    height: 36px;
  }
  textarea{
    min-height: 36px;
    max-height: 300px;
    overflow: auto;
    resize: none !important;
  }
  .leftWrapper{
    display: inline-block;
    vertical-align: top;
    width: 346px;
    padding-bottom: 200px;
    margin: 24px 0 28px;
    padding-right: 28px;
    .thumbnailWrapper{
      position: relative;
      width: 320px;
      height: 180px;
      >div{
        position: absolute;
      }
      &:hover{
        .blackCover{
          opacity:100%;
          transition: 0.5s;
        }
      }
      .blackCover{
        width: 320px;
        height: 180px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
        opacity:0%;
        transition: 0.5s;
        border-radius: 4px;
      }
      .buttonGroup{
        width: 320px;
        height: 180px;
        padding: 0 72px;
        .buttonWrapper{
          display: inline-block;
          width: 68px;
          height: 69px;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          margin: 0 10px;
          text-align: center;
          >button{
            width: 48px;
            height: 48px;
            background: #F2F4F6;
            border-radius: 24px;
            border: none;
            cursor: pointer;
            margin-bottom: 4px;
            transition: 0.25s;
            &:hover{
              background: #E3E7EB;
              transition: 0.25s;
            }
          }
          >div{
            font-weight: 500;
            font-size: 13px;
            line-height: 130%;
            color: #D2D6DA;
          }
        }
        .editButton{
          width: 24px;
          height: 24px;
          background: url(../../../images/editProjectThumbnail.svg);
          background-size: 24px;
          margin: 0 auto;
        }
        .deleteButton{
          width: 24px;
          height: 24px;
          background: url(../../../images/delete_scrap.svg);
          background-size: 24px;
          margin: 0 auto;
        }
      }

    }
    .videoWrapper{
      width: 320px;
      height: 180px;
      border-radius: 4px;
      background: #8D94A0;
      overflow: hidden;

    }
    .imageWrapper{
      width: 320px;
      height: 180px;
      border-radius: 4px;
      border: 1px dashed #D2D6DA;
      cursor: pointer;
      >div{
        width: 40px;
        height: 40px;
        margin: 27px auto 10px;
        background: url(../../../images/uploadProject.svg);
        background-size: 40px;
        cursor: pointer;
      }
      >span{
        font-weight: 400;
        font-size: 13px;
        line-height: 130%;
        color: #6D7582;
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 10px;
        cursor: pointer;
      }
      button{
        width: 117px;
        height: 32px;
        background: #FFFFFF;
        border: 1px solid #E3E7EB;
        border-radius: 18px;
        margin-left: 101.5px;
        font-size: 14px;
        line-height: 130%;
        color: #353C49;
        cursor: pointer;
        transition: 0.25s;
        &:hover{
          background: #F2F4F6;
          border: 1px solid #F2F4F6;
          color: #1E68FA;
          transition: 0.25s;
        }
      }
    }
  }
  .rightWrapper{
    display: inline-block;
    vertical-align: top;
    max-height: 482px;
    overflow: scroll;
    width: 580px;
    margin-top: 24px;
    margin-bottom: 24px;
    padding-left: 28px;
    padding-right: 36px;
    border-left: 1px solid #E3E7EB;

    .checkboxWrapper{
      width: 400px;
      margin-bottom: 32px;
      >label{
        width: calc(100% / 3);
        margin: 0 0 6px 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        color: #353C49;
      }
    }
    .addLocation{
      display: inline-block;
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      color: #0054FE;
      cursor: pointer;
      margin-bottom: 32px;
      position: relative;
      >div{
        position: absolute;
        height: 1px;
        width: 0px;
        background-color: #0054FE;
        transition: 0.25s;
        bottom: -4px;
      }
      &:hover{
        >div{
          width: 129px;
          transition: 0.25s;
        }
      }
    }
    .hoverButton{
      width: 426px;
      height: 36px;
      border-radius: 4px;
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      color: #353C49;
      background: #FAFAFB;
      border: 1px solid #E3E7EB;
      text-align: left;
      padding: 7px 10px;
      position: relative;
      transition: 0.25s;
      margin-bottom: 44px;
      >div{
        width: 20px;
        height: 20px;
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 7px;
        background: url(../../../images/dropDownCopyright.svg);
        transition: 0.25s;
      }
      &:hover{
        background: #FFFFFF;
        border: 1px solid #1E68FA;
        transition: 0.25s;
        >div{
          background: url(../../../images/dropUpCopyright.svg);
          transition: 0.25s;
        }
      }
    }
    .tagWrapper{
      height: auto;
      min-height: 42px;
      width: calc(100%);
      margin-bottom: 32px;
      outline: none;
      background: #FAFAFB;
      border: 1px solid #E3E7EB;
      border-radius: 4px;
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      color: #1D1D1D;
      padding: 8px 10px 0;
      transition: 0.25s;
      &:focus{
        background: #FFFFFF;
        border: 1px solid #1E68FA;
        transition: 0.25s;
      }
    }
    .tag{
      background: #1A1E27;
      border-radius: 12px;
      display: inline-flex;
      align-items: center;
      padding: 4px 10px;
      margin-left: 2px;
      margin-right: 2px;
      margin-bottom: 8px;
      height: 24px;
      vertical-align: top;
      > div{
        font-weight: 500;
        font-size: 13px;
        line-height: 120%;
        color: #FFFFFF;
        display: inline-block;
        vertical-align: top;
      }
      .delete{
        width: 12px;
        height: 12px;
        background: url(../../../images/deletetag.svg);
        margin-left: 4px;
        cursor: pointer;
      }
    }
    .tag_input{
      display: inline-block;
      outline: none;
      border: none;
      vertical-align: top;
      padding-right: 20px;
      margin-top: 3px;
      margin-bottom: 8px;
      cursor: text;
      &:empty:before {
        content: attr(placeholder);
        color: grey;
        display: inline-block;
      };
    }
  }
}
.bottomWrapper{
  display: block;
  height: 61px;
  background: #FAFAFB;
  border-top: 1px solid #E3E7EB;

}
.selected{
  background: #F2F4F6 !important;
}

.cancelButton{
  margin-right: 0 !important;
  color: #353C49 !important;
  background: none !important;
  cursor: pointer;
  transition: 0.25s;
  &:hover{
    background: #F2F4F6 !important;
    transition: 0.25s;
  }
}

.selectButton{
  background: #1E68FA !important;
  cursor: pointer;
  transition: 0.25s;
  &:hover{
    background: #0034DA !important;
    transition: 0.25s;
  }
}

.commentaryTitle{
  >span{
    vertical-align: top;
  }
  div{
    display: inline-block;
    vertical-align: top;
    margin-left: 2px;
    margin-top: 3px;
    width: 24px;
    height: 24px;
    background: url(../../../images/info_icon.svg);
    cursor: pointer;
  }
}

.commentaryTooltip{
  h4{
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 11px;
  }
  div{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #E3E7EB;
  }
}

.timeWrapper{
  display: inline-flex;
  align-items: center;
  margin: 12px 158px 40px;
  .timer{
    display: inline-block;
    width: 82px;
    height: 38px;
    padding: 0px 7px;
    background: #FFFFFF;
    border: 1px solid #E3E7EB;
    border-radius: 4px;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #353C49;
    transition: 0.25s;
    &:focus-within{
      border: 1px solid #1E68FA;
      transition: 0.25s;
    }
    >input{
      width: 30px;
      padding: 0;
      display: inline-block;
      outline: none;
      border: none;
      background: none;
      font-weight: 500;
      font-size: 24px;
      line-height: 150%;
      color: #353C49;
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    >div{
      width: 6px;
      display: inline-block;
      position: relative;
      top: -2px;
    }
  }
  .timerDivision{
    width: 12px;
    height: 1px;
    background: #353C49;
    margin: 0 4px;
    display: inline-block;
  }
  .info{
    display: inline-block;
    vertical-align: top;
    margin-left: 2px;
    margin-top: 3px;
    width: 24px;
    height: 24px;
    background: url(../../../images/info_icon.svg);
    cursor: pointer;
  }
}

.seek{
  width: 58px;
  height: 42px;
  background: url(../../../images/video_seeker.svg);
  position: absolute;
  top: -2.5px;
  cursor: pointer;
}

.timeDivision{
  width: 512px;
  position: absolute;
  top: -27px;
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  color: #6D7582;
  >div{
    width: 1px;
    height: 64px;
    z-index: 1000;
    background: #D2D6DA;
    display: inline-block;
    vertical-align: top;
    margin-right: 3px;
  }
  >span{
    display: inline-block;
    vertical-align: top;
  }
}

.commentaryButtonWrapper{
  >button{
    width: 65px;
    height: 36px;
    border-radius: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    display: inline-block;
    float: right;
  }
  .commentaryActiveButton{
    background: #1E68FA;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.25s;
    &:hover{
      background: #0034DA;
      transition: 0.25s;
    }
  }
  .commentaryNonActiveButton{
    background: #D2D6DA;
    border: none;
    color: #FFFFFF;
    cursor: not-allowed;
    transition: 0.25s;
  }
  .commentaryCancelButton{
    background: #FFFFFF;
    border: 1px solid #E3E7EB;
    color: #353C49;
    cursor: pointer;
    margin-right: 8px;
    transition: 0.25s;
    &:hover{
      background: #F2F4F6;
      border: 1px solid #F2F4F6;
      transition: 0.25s;
    }
  }
}

.nonCommentaryWrapper{
  margin-top: 56px;
  text-align: center;
  >span{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #6D7582;
  }
}
