.editorWrapper{
  margin-top: 28px;
}

.itemWrapper{
  width: 100%;
  border-bottom: 1px solid #E3E7EB;
  padding: 28px 0;
}

.titleWrapper{
  width: 100%;
  display: flex;
}

.title{
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #1A1E27;
  margin-right: 6px;
  max-width: calc(50% - 27px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.position{
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #353C49;
  max-width: calc(50% - 27px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.editIcon{
  width: 24px;
  height: 24px;
  background: url(../../images/edit_profile_icon_non_active.svg);
  margin-right: 6px;
  margin-left: auto;
  cursor: pointer;
  transition: 0.25s;
  &:hover{
    background: url(../../images/edit_profile_icon.svg);
    transition: 0.25s;
  }
}

.deleteIcon{
  width: 24px;
  height: 24px;
  background: url(../../images/delete_profile_icon_non_active.svg);
  cursor: pointer;
  transition: 0.25s;
  &:hover{
    background: url(../../images/delete_profile_icon.svg);
    transition: 0.25s;
  }
}

.date{
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #6D7582;
  white-space: pre;
  vertical-align: top;
  margin-top: 2px;
}

.informationUrl{
  margin-top: 2px;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  text-decoration-line: underline;
  text-underline-position: under;
  cursor: pointer;
  color: #6D7582;
  &:hover{
    text-decoration-line: underline;
    text-underline-position: under;
    color: #6D7582;
  }
}

.detailContents{
  margin-top: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #353C49;
}

.datePickerDivision{
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #6D7582;
  width: 4px;
  margin: 0 8px;
}

.errorMessage{
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #F43333;
  margin-bottom: 20px;
}

.buttonWrapper{
  padding-top: 4px;
  height: 69px;
  padding-bottom: 28px;
  border-bottom: 1px solid #E3E7EB;
  margin-bottom: 28px;
  > button {
    width: 65px;
    height: 36px;
    border-radius: 18px;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    cursor: pointer;
  }
}

.deleteButton{
  background: #FFFFFF;
  border: 1px solid #E3E7EB;
  color: #F43333;
  transition: 0.25s;
  &:hover{
    background: #F2F4F6;
    transition: 0.25s;
  }
}

.cancelButton{
  float: right;
  background: #FFFFFF;
  border: none;
  color: #353C49;
  transition: 0.25s;
  &:hover{
    background: #F2F4F6;
    transition: 0.25s;
  }
}

.saveButton{
  float: right;
  background: #1E68FA;
  border: none;
  color: #FFFFFF;
  transition: 0.25s;
  &:hover{
    background: #0034DA;
    transition: 0.25s;
  }
}

.saveButtonNone{
  float: right;
  background: #D2D6DA;
  border: none;
  color: #FFFFFF;
  cursor: not-allowed !important;
}

.snsWrapper{
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  input{
    margin: 0;
  }
}

.snsButton{
  width: 28px;
  height: 28px;
  margin-right: 12px;
  display: inline-block;
}
.insta{
  background: url(../../images/sns/insta_active.svg);
  background-size: cover;
}
.youtube{
  background: url(../../images/sns/youtube_active.svg);
  background-size: cover;
}
.facebook{
  background: url(../../images/sns/facebook_active.svg);
  background-size: cover;
}
.twitter{
  background: url(../../images/sns/twitter_active.svg);
  background-size: cover;
}
.link{
  background: url(../../images/sns/link_active.svg);
  background-size: cover;
}

.snsButtonWrapper{
  margin-left: 8px;
  > button {
    width: 65px;
    height: 36px;
    border-radius: 18px;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    cursor: pointer;
  }
}
